<mat-card class="users-card">
  <div class="users-card__spinner"
    *ngIf="(loadingState$ | async) === loadingStateEnum.loading">
    <mat-spinner></mat-spinner>
  </div>

  <table mat-table [dataSource]="users$" class="users-card__table">

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="3">No data found</td>
    </tr>


    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> <span class="td td--id"
          [title]="element.id">{{element.id}}</span> </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Active Column -->
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Active </th>
      <td mat-cell *matCellDef="let element">
        <div class="td-wrapper"
          [class.td-wrapper--loading]="(loadingState$ | async) === loadingStateEnum.loading && (updatedUserId$ | async) === element.id">
          <mat-checkbox [checked]="element.active"
            (change)="toggleActivity(element)">
          </mat-checkbox>
        </div>
      </td>
    </ng-container>
  </table>

  <button mat-raised-button (click)="addUser()"
    [disabled]="isAddingAvailable$ | async">Add user</button>
</mat-card>