:host {
  width: 100%;
}

.add-user-modal {
  display: flex;
	flex-direction: column;
  width: 100%;
	padding: var(--space-unit);
	box-sizing: border-box;

  &__form {
    display: flex;
    flex-direction: column;
    gap: var(--space-xss);
  }

  &__control {
    width: 100%;
  }

  &__control-error {
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--warning);
  }

  &__btn {
    margin-top: auto;
  }
}
